<%= link_to job, class:"job-index-links" do %>
  <li class="list-group-item">
    <h1 class="list-group-item-heading"><%= job.title %></h1>
     <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
    <%= job.company %>
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
    <%= job.location %>
    <!-- <span class="glyphicon glyphicon-console"></span> -->
  </li>
  <hr>
<% end %>
