.jobs-info-icons {
  padding-top: 10px;
  padding-bottom: 5px;
  .job-content-attribute{
    padding-right: 10px;
  }
}

.jobs-info-description {
  padding-bottom: 10px;
}

a.job-index-links:hover{

  text-decoration: none;
}

li.list-group-item {
  border: none
}
