.job-title-display{
  padding-bottom: 10px;
}
.jobs-info-icons {
  padding-top: 5px;
  padding-bottom: 0px;
  .job-content-attribute{
    padding-top: 5px;
    padding-right: 10px;
  }
}

.jobs-info-description {
  padding-bottom: 10px;
}

a.job-index-links:hover{
  text-decoration: none;
}

li.list-group-item {
  border: none
}

.error-message {
  color: #b94a48;
}
